.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.App-header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: transparent solid;
  border-radius: 30px;
  padding: 2vh 4vh;
}
.part-1 {
  height: 60%;
  width: 100%;
  position: relative;
}
.heading {
  position: absolute;
  top: 0;
  left: 2px;
  color: rgb(32, 84, 124);
}
.persentage {
  position: absolute;
  bottom: 8vh;
}
.back-circle {
  position: relative;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
}
.back-circle-right {
  height: 125px;
  width: 125px;
  background-color: rgb(193, 228, 255);
  border: transparent solid;
  border-top-right-radius: 100%;
}
.back-circle-left {
  height: 125px;
  width: 125px;
  background-color: rgb(193, 228, 255);
  border: transparent solid;
  border-top-left-radius: 100%;
}
.back-circle-top-left {
  height: 40px;
  width: 40px;
  background-color: white;
  border: transparent solid;
  border-top-left-radius: 100%;
}
.back-circle-top-right {
  height: 40px;
  width: 40px;
  background-color: white;
  border: transparent solid;
  border-top-right-radius: 100%;
}
.small-circle {
  width: 12px;
  height: 12px;
  background-color: rgb(32, 84, 124);
  position: absolute;
  bottom: -6px;
  border: transparent solid;
  border-radius: 50%;
}
.App-logo {
  transform-origin: bottom;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 0px;
  height: 75px;
  width: 5px;
  background-color: rgb(32, 84, 124);
  pointer-events: none;
}
.text-area {
  padding-top: 60px;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-area p {
  margin-top: -15px;
  color: rgb(32, 84, 124);
}
.text-area h5 {
  margin-top: -15px;
  color: red;
  font-weight: 600;
}
p {
  font-weight: 600;
}
.text-area h6 {
  color: rgb(32, 84, 124);
  margin-top: -15px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  border: transparent solid;
  border-radius: 25px;
  font-size: small;
  font-weight: 600;
  background-color: rgb(193, 228, 255);
}

.Form-Area {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 2vh;
  position: relative;
  width: 810px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: transparent solid;
  border-radius: 30px;
  padding: 2vh 4vh;
}

.total-items {
  display: flex;
}
.total-items p {
  padding: 10px 10px;
  color: rgb(32, 84, 124);
}
.bar-div {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: left;
}
.items-bar {
  width: 100%;
  height: 2vh;
  border: transparent solid;
  border-radius: 20px;
  background-color: rgb(193, 228, 255);
}
.main-bar {
  position: absolute;
  width: 97%;
  height: 2vh;
  border: transparent solid;
  border-radius: 20px;
  background-color: rgb(32, 84, 124);
}
.bottom-area {
  margin-top: 20px;
  height: 50%;
  width: 100%;
  display: flex;
}
.bottom-left {
  width: 40%;
}
.bottom-right {
  width: 40%;
}
.label {
  display: flex;
}
.left-icon {
  width: 6vh;
  height: 2vh;
  border: transparent solid;
  border-radius: 20px;
  background-color: rgb(32, 84, 124);
}
.right-icon {
  width: 6vh;
  height: 2vh;
  border: transparent solid;
  border-radius: 20px;
  background-color: rgb(193, 228, 255);
}
p {
  color: rgb(32, 84, 124);
}
.bottom-area p {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 8px;
}
input {
  margin-left: 4px;
  border: transparent solid;
  font-weight: 600;
  color: black;
  width: fit-content;
  min-width: 1px;
}
